.bufferbutton {
    margin-bottom:3px !important;
}

.chattext {
    font-size:18px;
    font-weight:bold;
}

.chaticon {
    min-width:35px !important;
    min-height:35px;
    background-color:white;
    margin:1px;
    padding:1px;
}

.chaticonselect {
    width:55px; 
}

.nopadgrid.grid {
    margin: 0;
}
.nopadgrid.grid .column {
    padding: 0;
}
.nopadgrid.grid.grid>.column:not(.row) {
  padding:0;
  margin:0;
}
.boxed {
  border:solid 1px black;
  padding:0;
  margin:0;
}
